.Productpg {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Productpg .productTitle {
  font-family: serif;
  font-size: 60px;
}

.prodred {
  color: #ff040f;
  border-bottom: 2px solid #ff040f;
}

@media only screen and (max-width: 335px) {
  .Productpg .productTitle {
    font-size: 40px;
  }
}
