.reg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
}

.reg .logo a {
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  color: rgb(0, 0, 0);
}

.reg_container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.reg_container > h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.reg_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
  background-color: white;
}

.reg_container > p {
  margin-top: 15px;
  font-size: 12px;
}

textarea {
  width: 98%;
  height: 60px;
  margin-bottom: 10px;
  background-color: white;
  border-color: black;
  border-width: 2px;
}

.signup {
  background-color: black;
  border: 1px solid;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 98%;
  height: 30px;
  cursor: pointer;
}

.signup:hover {
  background-color: rgba(39, 36, 36, 0.9);
}
