/* Base styles for the toast container1 */
.toast-container1 {
  position: fixed; /* Fixed position to ensure it stays in the viewport */
  top: 25%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by 50% to ensure true center */
  z-index: 1050; /* Ensure it's above other elements */
  display: none; /* Hide by default */
}

/* Show class to display the toast */
.toast-container1.show {
  display: block;
  /* background-color: red; For debugging: change background to ensure visibility */
}

/* Toast styling */
.toast-container1 .toast {
  background-color: #fdd300;
  color: #fff;
  width: auto; /* Adjust the width as needed */
}

/* Optional additional styling */
.toast-container1 .toast-header {
  background-color: #938124;
  color: #fff;
}

.toast-container1 .toast-body {
  text-align: center;
}

@media (min-width: 768px) {
  .toast-container1 {
    top: 25%; /* Center vertically */
    left: 75%; /* to show on right top horizontally */
  }
}

/* Positioning for smaller screens */
@media (max-width: 767px) {
  .toast-container1 {
    top: 25%; /* Center vertically */
    left: 50%; /* Center horizontally */
  }
}
